{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <link rel ="stylesheet", type="text/css", href="{% static 'web/style.css' %}" >
</head>

<body>
    <header class="header">
        <h1 class = "logo" > Contacts </h1>
    </header>
    <main class="main">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="footer">
        <p class="footer_note">Contacts application for Python Bootcamp </p>
    </footer>

</body>

</html>