{% if  contact %}
    <table>
        <tr>
            <td>First_name</td>
            <td>Last_name</td>
            <td>Address</td>
            <td>DOB</td>
            <td>Number</td>
        </tr>
        <tr>
            <td>{{contact.first_name}}</td>
            <td>{{contact.last_name}}</td>
            <td>{{contact.address}}</td>
            <td>{{contact.dob}}</td>
            <td>
                {% for contact_number in contact.contactnumber_set.all %}
                    {{contact_number.number}}
                {% endfor %}
            </td>
        </tr>
    </table>
{% else %}    
    <p> No contact founds right now</p>
{% endif %}